### Задание 1.

In [1]:
import pandas as pd
import numpy as np

In [2]:
horses = pd.read_csv('horse_data.csv', header=None) # читаем без заголовков

In [3]:
h1 = horses[horses.columns[0:7]] # оставляем столбцы

In [4]:
h1['Pain'] = horses.iloc[:, 10]
h1['Outcome'] = horses.iloc[:, 22]
# добавляем нужные столбцы

<ipython-input-4-c4d00162a4a4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h1['Pain'] = horses.iloc[:, 10]
<ipython-input-4-c4d00162a4a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h1['Outcome'] = horses.iloc[:, 22]

In [5]:
h1

     0  1        2      3    4   5  6 Pain Outcome
0    2  1   530101  38.50   66  28  3    5       2
1    1  1   534817   39.2   88  20  ?    3       3
2    2  1   530334  38.30   40  24  1    3       1
3    1  9  5290409  39.10  164  84  4    2       2
4    2  1   530255  37.30  104  35  ?    ?       2
..  .. ..      ...    ...  ...  .. ..  ...     ...
295  1  1   533886      ?  120  70  4    2       3
296  2  1   527702  37.20   72  24  3    4       3
297  1  1   529386  37.50   72  30  4    4       2
298  1  1   530612  36.50  100  24  3    3       1
299  1  1   534618   37.2   40  20  ?    ?       3

[300 rows x 9 columns]

In [6]:
h2 = h1.drop(2, axis = 1) # удаляем ненужный столбец

In [7]:
h2.columns = ['surgery', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'Pain', 'Outcome']

### Задание 2.

In [8]:
h3 = h2.replace('?', np.NaN)

In [9]:
h3 = h3.astype(float)

In [10]:
h3

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
0,2.0,1.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1.0,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1.0,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1.0,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1.0,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1.0,37.2,40.0,20.0,NaN,NaN,3.0

In [11]:
h3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    float64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   Pain                        245 non-null    float64
 7   Outcome                     299 non-null    float64
dtypes: float64(8)
memory usage: 18.9 KB

In [12]:
h3.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [13]:
h3['Age'].value_counts() # в основном молодые лошадки

1.0    276
9.0     24
Name: Age, dtype: int64

In [14]:
h3['Outcome'].value_counts() # в основном выживают

1.0    178
2.0     77
3.0     44
Name: Outcome, dtype: int64

In [15]:
# #print('Самая высокая t = ', max(pd.to_numeric(h3['rectal temperature'])))
# print('Самая низкая t = ', min(pd.to_numeric(h3['rectal temperature'])))
# print('Размах = ', max(pd.to_numeric(h3['rectal temperature'])) - min(pd.to_numeric(h3['rectal temperature'])))
# пики температур и ее размах

In [16]:
#h3['pulse'] = pd.to_numeric(h3['pulse']) # приводим в числовые данные

In [17]:
#np.mean(h3['pulse']) # средний пульс

In [18]:
#np.mean(h3['rectal temperature']) # средняя температура тела

In [19]:
#h3['rectal temperature'] = pd.to_numeric(h3['rectal temperature'])

In [20]:
h3['pulse'].median() # медиана пульса

64.0

In [21]:
h3['rectal temperature'].median() # медиана температуры

38.2

In [22]:
#np.std(h3['pulse'], ddof=1) # отклонение пульса

In [23]:
#np.std(h3['rectal temperature'], ddof=1) # отклонение температуры

In [24]:
q1 = h3['pulse'].quantile(0.25)
q3 = h3['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = h3[h3['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
130,1.0,1.0,37.8,30.0,12.0,NaN,NaN,2.0
232,1.0,1.0,38.5,30.0,18.0,NaN,NaN,1.0
203,2.0,1.0,37.2,36.0,9.0,1.0,2.0,1.0
276,1.0,1.0,38.0,36.0,16.0,3.0,4.0,3.0
242,1.0,1.0,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
148,1.0,1.0,38.3,132.0,NaN,NaN,2.0,1.0
135,1.0,9.0,38.1,136.0,48.0,3.0,5.0,2.0
44,1.0,1.0,35.4,140.0,24.0,3.0,4.0,3.0
103,1.0,9.0,38.0,140.0,68.0,1.0,3.0,1.0
39,1.0,9.0,39.2,146.0,96.0,NaN,NaN,2.0

In [25]:
pd.concat([h3, remove_outliers]).drop_duplicates(keep=False) # выбросы по пульсу 20 - просто завышенные показатели и NaN.

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
3,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1.0,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,9.0,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9.0,38.6,160.0,20.0,3.0,3.0,2.0
58,1.0,1.0,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9.0,NaN,NaN,NaN,NaN,NaN,2.0
93,2.0,1.0,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1.0,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1.0,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1.0,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1.0,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1.0,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1.0,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1.0,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1.0,39.2,NaN,23.0,3.0,4.0,1.0
216,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9.0,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9.0,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9.0,38.8,150.0,50.0,1.0,5.0,2.0

In [26]:
q1 = h3['rectal temperature'].quantile(0.25)
q3 = h3['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_t = h3[h3['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal temperature')
remove_outliers_t

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
113,1.0,1.0,36.8,60.0,28.0,NaN,NaN,2.0
277,2.0,1.0,36.9,50.0,40.0,2.0,1.0,1.0
70,2.0,1.0,37.0,60.0,20.0,3.0,3.0,3.0
292,1.0,1.0,37.0,66.0,20.0,1.0,4.0,2.0
190,1.0,1.0,37.1,40.0,8.0,NaN,3.0,1.0
...,...,...,...,...,...,...,...,...
165,1.0,1.0,39.4,120.0,48.0,NaN,NaN,3.0
231,2.0,1.0,39.5,92.0,28.0,3.0,5.0,2.0
287,2.0,9.0,39.5,84.0,30.0,NaN,NaN,1.0
117,2.0,1.0,39.5,NaN,NaN,3.0,3.0,3.0
162,2.0,1.0,39.5,60.0,10.0,3.0,3.0,1.0

In [27]:
pd.concat([h3, remove_outliers_t]).drop_duplicates(keep=False) # выбросы по температуре 61 - просто завышенные показатели и NaN.

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
5,2.0,1.0,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1.0,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1.0,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9.0,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1.0,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
274,1.0,1.0,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1.0,40.0,78.0,NaN,3.0,2.0,2.0
293,1.0,1.0,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1.0,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1.0,36.5,100.0,24.0,3.0,3.0,1.0

### Задание 3.

In [28]:
(h3.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
Pain                          18.33
Outcome                        0.33
dtype: float64

### Участь лошади не влияет на отсутствие показателей температуры и пульса:

In [29]:
h3[h3['rectal temperature'].isnull()].groupby('Outcome')['Outcome'].count()

Outcome
1.0    26
2.0    24
3.0    10
Name: Outcome, dtype: int64

In [30]:
h3[h3['pulse'].isnull()].groupby('Outcome')['Outcome'].count()

Outcome
1.0    12
2.0    11
3.0     1
Name: Outcome, dtype: int64

### Данные по тем, кому делали операцию, отсутствуют в два раза чаще:

In [31]:
h3[h3['rectal temperature'].isnull()].groupby('surgery')['surgery'].count()

surgery
1.0    40
2.0    20
Name: surgery, dtype: int64

In [32]:
h3[h3['pulse'].isnull()].groupby('surgery')['surgery'].count()

surgery
1.0    16
2.0     8
Name: surgery, dtype: int64

### В целом, можно считать, что пропуски данных случайны и не имеют связи с другими характеристиками.

Посчитаем медиану и среднее для категорий по операции и возрасту:

In [33]:
h3.groupby(['surgery', 'Age']).mean()

             rectal temperature       pulse  respiratory rate  \
surgery Age
1.0     1.0           38.084800   70.398649         30.356589
        9.0           38.633333  131.875000         59.333333
2.0     1.0           38.178723   63.495238         25.358696
        9.0           38.680000  100.666667         40.400000

             temperature of extremities      Pain   Outcome
surgery Age
1.0     1.0                    2.464567  3.317829  1.617284
        9.0                    2.307692  3.071429  1.666667
2.0     1.0                    2.230000  2.428571  1.460177
        9.0                    1.333333  3.333333  1.166667

In [34]:
h3.groupby(['surgery', 'Age']).median()

             rectal temperature  pulse  respiratory rate  \
surgery Age
1.0     1.0                38.1   66.0              24.0
        9.0                38.6  129.0              60.0
2.0     1.0                38.2   54.0              24.0
        9.0                38.6   91.0              30.0

             temperature of extremities  Pain  Outcome
surgery Age
1.0     1.0                         3.0   3.0      1.0
        9.0                         3.0   3.0      2.0
2.0     1.0                         2.0   2.0      1.0
        9.0                         1.0   4.0      1.0

Заполним пропуски по категориям. Сигма(СКО) у пульса гораздо выше --> заполним пропуски медианой. У температуры отклонение маленькое --> поставим среднее:

In [35]:
h3['pulse'].fillna(h3.groupby(['surgery', 'Age'])['pulse'].transform('median'), inplace=True)

In [36]:
h3['rectal temperature'].fillna(h3.groupby(['surgery', 'Age'])['rectal temperature'].transform('mean'), inplace=True)

In [37]:
h3['pulse'].isnull().sum()

0

In [38]:
h3['rectal temperature'].isnull().sum()

0

In [39]:
h3.head(50)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
0,2.0,1.0,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.200000,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.300000,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.100000,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,37.300000,104.0,35.0,NaN,NaN,2.0
5,2.0,1.0,38.178723,54.0,NaN,2.0,2.0,1.0
6,1.0,1.0,37.900000,48.0,16.0,1.0,3.0,1.0
7,1.0,1.0,38.084800,60.0,NaN,3.0,NaN,2.0
8,2.0,1.0,38.178723,80.0,36.0,3.0,4.0,3.0
9,2.0,9.0,38.300000,90.0,NaN,1.0,5.0,1.0
10,1.0,1.0,38.100000,66.0,12.0,3.0,3.0,1.0
11,2.0,1.0,39.100000,72.0,52.0,2.0,2.0,1.0
12,1.0,1.0,37.200000,42.0,12.0,2.0,3.0,1.0
13,2.0,9.0,38.000000,92.0,28.0,1.0,1.0,2.0
14,1.0,1.0,38.200000,76.0,28.0,3.0,3.0,1.0
15,1.0,1.0,37.600000,96.0,48.0,3.0,5.0,2.0
16,1.0,9.0,38.633333,128.0,36.0,3.0,4.0,2.0
17,2.0,1.0,37.500000,48.0,24.0,NaN,NaN,1.0
18,1.0,1.0,37.600000,64.0,21.0,1.0,2.0,1.0
19,2.0,1.0,39.400000,110.0,35.0,4.0,NaN,1.0
20,1.0,1.0,39.900000,72.0,60.0,1.0,5.0,1.0
21,2.0,1.0,38.400000,48.0,16.0,1.0,1.0,1.0
22,1.0,1.0,38.600000,42.0,34.0,2.0,2.0,1.0
23,1.0,9.0,38.300000,130.0,60.0,NaN,2.0,1.0
24,1.0,1.0,38.100000,60.0,12.0,3.0,NaN,1.0
25,2.0,1.0,37.800000,60.0,42.0,NaN,NaN,1.0
26,1.0,1.0,38.300000,72.0,30.0,4.0,3.0,1.0
27,1.0,1.0,37.800000,48.0,12.0,3.0,NaN,1.0
28,1.0,1.0,38.084800,66.0,NaN,NaN,NaN,2.0
29,2.0,1.0,37.700000,48.0,NaN,2.0,1.0,1.0
30,2.0,1.0,37.700000,96.0,30.0,3.0,5.0,2.0
31,2.0,1.0,37.200000,108.0,12.0,3.0,2.0,3.0
32,1.0,1.0,37.200000,60.0,NaN,2.0,3.0,1.0
33,1.0,1.0,38.200000,64.0,28.0,1.0,3.0,1.0
34,1.0,1.0,38.084800,100.0,30.0,3.0,5.0,1.0
35,2.0,1.0,38.178723,104.0,24.0,4.0,4.0,3.0
36,2.0,1.0,38.300000,112.0,16.0,NaN,NaN,3.0
37,1.0,1.0,37.800000,72.0,NaN,NaN,5.0,1.0
38,2.0,1.0,38.600000,52.0,NaN,1.0,3.0,1.0
39,1.0,9.0,39.200000,146.0,96.0,NaN,NaN,2.0
40,1.0,1.0,38.084800,88.0,NaN,3.0,5.0,2.0
41,2.0,9.0,39.000000,150.0,72.0,NaN,NaN,1.0
42,2.0,1.0,38.000000,60.0,12.0,3.0,3.0,1.0
43,1.0,1.0,38.084800,120.0,NaN,3.0,4.0,3.0
44,1.0,1.0,35.400000,140.0,24.0,3.0,4.0,3.0
45,2.0,1.0,38.178723,120.0,NaN,4.0,5.0,2.0
46,1.0,1.0,37.900000,60.0,15.0,3.0,5.0,1.0
47,2.0,1.0,37.500000,48.0,16.0,1.0,1.0,1.0
48,1.0,1.0,38.900000,80.0,44.0,3.0,2.0,2.0
49,2.0,1.0,37.200000,84.0,48.0,3.0,4.0,2.0

In [40]:
(h3.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal temperature             0.00
pulse                          0.00
respiratory rate              19.33
temperature of extremities    18.67
Pain                          18.33
Outcome                        0.33
dtype: float64

### Проделаем то же самое для respiratory rate, temperature of extremities и Pain

In [41]:
q1 = h3['respiratory rate'].quantile(0.25)
q3 = h3['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_r = h3[h3['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory rate')
remove_outliers_r

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
190,1.0,1.0,37.1,40.0,8.0,NaN,3.0,1.0
203,2.0,1.0,37.2,36.0,9.0,1.0,2.0,1.0
140,1.0,1.0,38.1,44.0,9.0,3.0,2.0,1.0
89,2.0,1.0,38.3,42.0,10.0,1.0,1.0,1.0
162,2.0,1.0,39.5,60.0,10.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...
220,1.0,1.0,39.2,88.0,58.0,4.0,5.0,3.0
20,1.0,1.0,39.9,72.0,60.0,1.0,5.0,1.0
23,1.0,9.0,38.3,130.0,60.0,NaN,2.0,1.0
185,1.0,1.0,38.5,120.0,60.0,4.0,NaN,1.0
248,1.0,1.0,38.0,108.0,60.0,2.0,4.0,1.0

In [42]:
pd.concat([h3, remove_outliers_r]).drop_duplicates(keep=False).dropna()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
3,1.0,9.0,39.100000,164.0,84.0,4.0,2.0,2.0
82,1.0,9.0,38.100000,100.0,80.0,3.0,3.0,1.0
84,1.0,1.0,37.800000,60.0,80.0,1.0,2.0,1.0
103,1.0,9.0,38.000000,140.0,68.0,1.0,3.0,1.0
120,1.0,1.0,39.400000,54.0,66.0,1.0,2.0,1.0
125,1.0,1.0,38.000000,42.0,68.0,4.0,3.0,1.0
244,1.0,9.0,38.200000,124.0,88.0,1.0,2.0,1.0
255,1.0,9.0,38.800000,184.0,84.0,1.0,4.0,2.0
265,2.0,1.0,38.178723,56.0,68.0,3.0,3.0,3.0
295,1.0,1.0,38.084800,120.0,70.0,4.0,2.0,3.0

### ... все выбросы превышают верхнюю границу, нереальных чисел нет, пропуски заполним медианой

In [43]:
h3[h3['respiratory rate'] == 96]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
39,1.0,9.0,39.2,146.0,96.0,NaN,NaN,2.0
106,1.0,1.0,38.3,52.0,96.0,NaN,NaN,1.0

# ...вопрос: почему в выбросах нет этих значений?

In [44]:
h3['respiratory rate'].fillna(h3.groupby(['surgery', 'Age'])['respiratory rate'].transform('median'), inplace=True)

In [45]:
h3.head(30)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
0,2.0,1.0,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.200000,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.300000,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.100000,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,37.300000,104.0,35.0,NaN,NaN,2.0
5,2.0,1.0,38.178723,54.0,24.0,2.0,2.0,1.0
6,1.0,1.0,37.900000,48.0,16.0,1.0,3.0,1.0
7,1.0,1.0,38.084800,60.0,24.0,3.0,NaN,2.0
8,2.0,1.0,38.178723,80.0,36.0,3.0,4.0,3.0
9,2.0,9.0,38.300000,90.0,30.0,1.0,5.0,1.0
10,1.0,1.0,38.100000,66.0,12.0,3.0,3.0,1.0
11,2.0,1.0,39.100000,72.0,52.0,2.0,2.0,1.0
12,1.0,1.0,37.200000,42.0,12.0,2.0,3.0,1.0
13,2.0,9.0,38.000000,92.0,28.0,1.0,1.0,2.0
14,1.0,1.0,38.200000,76.0,28.0,3.0,3.0,1.0
15,1.0,1.0,37.600000,96.0,48.0,3.0,5.0,2.0
16,1.0,9.0,38.633333,128.0,36.0,3.0,4.0,2.0
17,2.0,1.0,37.500000,48.0,24.0,NaN,NaN,1.0
18,1.0,1.0,37.600000,64.0,21.0,1.0,2.0,1.0
19,2.0,1.0,39.400000,110.0,35.0,4.0,NaN,1.0
20,1.0,1.0,39.900000,72.0,60.0,1.0,5.0,1.0
21,2.0,1.0,38.400000,48.0,16.0,1.0,1.0,1.0
22,1.0,1.0,38.600000,42.0,34.0,2.0,2.0,1.0
23,1.0,9.0,38.300000,130.0,60.0,NaN,2.0,1.0
24,1.0,1.0,38.100000,60.0,12.0,3.0,NaN,1.0
25,2.0,1.0,37.800000,60.0,42.0,NaN,NaN,1.0
26,1.0,1.0,38.300000,72.0,30.0,4.0,3.0,1.0
27,1.0,1.0,37.800000,48.0,12.0,3.0,NaN,1.0
28,1.0,1.0,38.084800,66.0,24.0,NaN,NaN,2.0
29,2.0,1.0,37.700000,48.0,24.0,2.0,1.0,1.0

temperature of extremities и Pain это категории, поэтому подключаем моду:

In [46]:
h3['Pain'].value_counts()

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: Pain, dtype: int64

Логично предположить, что боль и смерть взаимосвязаны. С при группировке мода не считается. Так что заполним вручную пропуски по моде Pain в категориях Outcome:

In [47]:
h3['Pain'].loc[h3.Outcome == 1.0].fillna(3.0, inplace=True)

In [48]:
h3['Pain'].loc[h3.Outcome == 2.0].fillna(5.0, inplace=True)

In [49]:
h3['Pain'].loc[h3.Outcome == 3.0].fillna(2.0, inplace=True)

In [50]:
h3.head(30) # не работает, не знаю как сделать моду по категорям. С temperature of extremities то же самое. Подскажите...

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,Pain,Outcome
0,2.0,1.0,38.500000,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.200000,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.300000,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.100000,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,37.300000,104.0,35.0,NaN,NaN,2.0
5,2.0,1.0,38.178723,54.0,24.0,2.0,2.0,1.0
6,1.0,1.0,37.900000,48.0,16.0,1.0,3.0,1.0
7,1.0,1.0,38.084800,60.0,24.0,3.0,NaN,2.0
8,2.0,1.0,38.178723,80.0,36.0,3.0,4.0,3.0
9,2.0,9.0,38.300000,90.0,30.0,1.0,5.0,1.0
10,1.0,1.0,38.100000,66.0,12.0,3.0,3.0,1.0
11,2.0,1.0,39.100000,72.0,52.0,2.0,2.0,1.0
12,1.0,1.0,37.200000,42.0,12.0,2.0,3.0,1.0
13,2.0,9.0,38.000000,92.0,28.0,1.0,1.0,2.0
14,1.0,1.0,38.200000,76.0,28.0,3.0,3.0,1.0
15,1.0,1.0,37.600000,96.0,48.0,3.0,5.0,2.0
16,1.0,9.0,38.633333,128.0,36.0,3.0,4.0,2.0
17,2.0,1.0,37.500000,48.0,24.0,NaN,NaN,1.0
18,1.0,1.0,37.600000,64.0,21.0,1.0,2.0,1.0
19,2.0,1.0,39.400000,110.0,35.0,4.0,NaN,1.0
20,1.0,1.0,39.900000,72.0,60.0,1.0,5.0,1.0
21,2.0,1.0,38.400000,48.0,16.0,1.0,1.0,1.0
22,1.0,1.0,38.600000,42.0,34.0,2.0,2.0,1.0
23,1.0,9.0,38.300000,130.0,60.0,NaN,2.0,1.0
24,1.0,1.0,38.100000,60.0,12.0,3.0,NaN,1.0
25,2.0,1.0,37.800000,60.0,42.0,NaN,NaN,1.0
26,1.0,1.0,38.300000,72.0,30.0,4.0,3.0,1.0
27,1.0,1.0,37.800000,48.0,12.0,3.0,NaN,1.0
28,1.0,1.0,38.084800,66.0,24.0,NaN,NaN,2.0
29,2.0,1.0,37.700000,48.0,24.0,2.0,1.0,1.0

In [51]:
h3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    float64
 2   rectal temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   Pain                        245 non-null    float64
 7   Outcome                     299 non-null    float64
dtypes: float64(8)
memory usage: 18.9 KB